<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @delivery_method.user %>
</p>

<p>
  <strong>Type:</strong>
  <%= @delivery_method.type %>
</p>

<p>
  <strong>Options:</strong>
  <%= @delivery_method.options %>
</p>

<%= link_to 'Edit', edit_delivery_method_path(@delivery_method) %> |
<%= link_to 'Back', delivery_methods_path %>
