<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order.attributes %>
</p>


<p>
  <strong>User:</strong>
  <%= @order.user.attributes %>
</p>

<!-- <p>
  <strong>Delivery method:</strong>
  <%#= @order.delivery_method %>
</p>

<p>
  <strong>Payment method:</strong>
  <%#= @order.payment_method %>
</p>
 -->
<p>
  <strong>Product:</strong>
  <%= @order.product.attributes %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
